<h2>Validaciones reactivas</h2>
<hr />

<div class="row">
  <div class="col">
    <form
      autocomplete="off"
      [formGroup]="miFormulario"
      (ngSubmit)="submitFormulario()"
    >
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Nombre del usuario"
            formControlName="nombre"
          />
          <span class="form-text text-danger" *ngIf="campoNoEsValido('nombre')"
            >Debe estar en formato de nombre y apellido</span
          >
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            placeholder="Email del usuario"
            formControlName="email"
          />
          <span
            class="form-text text-danger"
            *ngIf="campoNoEsValido('email')"
            >{{ emailErrorMsg }}</span
          >
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Username del usuario"
            formControlName="username"
          />
          <span
            class="form-text text-danger"
            *ngIf="campoNoEsValido('username')"
            >El username es obligatorio y no puede ser "rebeco"</span
          >
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Clave del usuario"
            formControlName="password"
          />
          <span
            class="form-text text-danger"
            *ngIf="campoNoEsValido('password')"
            >La contraseña debe ser mayor o igual a 6 caracteres</span
          >
        </div>
      </div>

      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Confirmar password</label>
        <div class="col-sm-9">
          <input
            type="password"
            class="form-control"
            placeholder="Confirmar clave del usuario"
            formControlName="password2"
          />
          <span
            class="form-text text-danger"
            *ngIf="campoNoEsValido('password2')"
            >Las contraseñas deben ser iguales</span
          >
        </div>
      </div>

      <div class="row">
        <div class="col">
          <button
            type="submit"
            class="btn btn-primary float-end"
            [disabled]="miFormulario.pending"
          >
            Crear usuario
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<h2>Form valid: {{ miFormulario.valid }}</h2>
<h2>Form status: {{ miFormulario.status }}</h2>
<h2>Form errors:</h2>
<pre>{{ miFormulario.errors | json }}</pre>

<h3>Nombre:</h3>
<pre>{{ miFormulario.controls.nombre.errors | json }}</pre>

<h3>Email:</h3>
<pre>{{ miFormulario.controls.email.errors | json }}</pre>

<h3>Username:</h3>
<pre>{{ miFormulario.controls.username.errors | json }}</pre>

<h3>Password:</h3>
<pre>{{ miFormulario.controls.password.errors | json }}</pre>

<h3>Password2:</h3>
<pre>{{ miFormulario.controls.password2.errors | json }}</pre>
